#
# Sagemcom Forge GIT software version management
#
# This file was automatically added upon repository creation
#
# .gitignore usage documented at:
#
# https://github.com/github/gitignore

#
# Sagemcom Forge GIT software version management
#
# This file was automatically added upon repository creation
#
# .gitignore usage documented at:
#
# https://github.com/github/gitignore


ansible-navigator.log
.*.sw*
.
**/.*.sw*
**/**/.*.sw*
**/**/.vault_pass
**/**/*.retry
**/**/cache
# Root directories and files
/output/
# Tree directories and files
__pycache__/
*.code-workspace
.vscode
build.env
scripts/nexus/*/*
playbooks/dyco_tools/backup_conf/*.csv
playbooks/dyco_tools/log4j_scan/*.csv
